/* GENERALI E STRUTTURA BASE */
body, html{
  font-family: 'Montserrat', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 75px;
  background-color: #080b12;
  position: fixed;
  z-index: -1;
  width: 100vw;
  top: 0;

}

.sidebar{
  width: 45px;
  background-color: #000;
  height: 100vh;
  overflow: overlay;
  position: fixed;
  top: 0;
}

main{
  height: calc(100vh - 75px - 75px);
  background-color: #141922;
  overflow-y: auto;
  width: calc(100vw - 45px);
  margin-left: 45px;
  margin-top: 75px;
}

footer{
  height: 75px;
  width: 100vw;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  z-index: 1;
}
/* HEADER */
header {
  text-align: right;
}

header .upgrade{
  padding-top: 22px;
  padding-right: 8px;
}

.button{
  text-transform: uppercase;
  padding: 8px 31px;
  border-radius: 15px;
  border: 1px solid #fff;
  display: inline;
  text-decoration: none;
  color: #fff;
  font-size: 0.5em;
  font-weight: 600;
}

/* SIDEBAR */
header .sidebar{
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}

header #logo img{
  width: 156px;
}

header .sidebar ul{
  list-style: none;
}

header .sidebar ul li a{
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/* MAIN */
.nav-contents ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.nav-contents ul li a{
  text-decoration: none;
  font-size: 0.7em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 700;
}

main .previews{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 8px;
}

main .preview-titles{
  flex-shrink: 1;
  flex-basis: calc(100%/2);
  padding: 6px;
}

main .preview img{
  max-width: 100%;
}

/* MEDIA QUERY SM */
@media all and (min-width: 576px){
  header{
    height: 85px;
  }

  .sidebar{
    width: 250px;
  }

  main{
    height: calc(100vh - 85px - 85px);
    width: calc(100vw - 250px);
    margin-left: 250px;
    margin-top: 85px;
  }

  footer{
    height: 85px;
  }
}

/* MEDIA QUERY MD */
@media all and (min-width: 768px){
  /* CONTENUTI */
  main .preview-titles{
    flex-basis: calc(100%/4);
  }
}

/* MEDIA QUERY LG */
@media all and (min-width: 992px){
  .sidebar{
    width: 230px;
  }

  main{
    height: calc(100vh - 85px - 78px);
    width: calc(100vw - 230px);
    margin-left: 230px;
    margin-top: 85px;
  }

  footer{
    height: 78px;
  }

  /* MAIN */
  main .preview-titles{
    flex-basis: calc(100%/6);
  }

  main .previews{
    flex-wrap: nowrap;
  }
}
